* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
}

body {
  background-color: #1D3557;
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 2.5rem;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form-container {
  background-color: #24303C;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section h2 {
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .form-container {
    padding: 20px;
    width: 90%;
  }

  section {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  .form-container {
    padding: 15px;
    width: 100%;
  }

  p {
    font-size: 1rem;
  }
}
