<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ejercicio 3</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Ejercicio 3</h1>

  <!-- creo un contenedor con varios elementos hijos (p) -->
  <div id="contenedor">
    <p>Elemento hijo 1</p>
    <p>Elemento hijo 2</p>
    <p>Elemento hijo 3</p>
    <p>Elemento hijo 4</p>
  </div>

  <!-- creo un boton con una funcion que voy a definir en mi script, la de contar hijos -->
  <button id="contarBtn">Contar hijos</button>

  <p id="resultado"></p>

  <script src="/script.js"></script>
</body>
</html>
