<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ejercicio 1</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Ejercicio 1</h1>

  <button onclick="agregarH1()">Agregar H1</button>
  <button onclick="cambiarTexto()">Cambiar Texto</button>
  <button onclick="cambiarColor()">Cambiar Color</button>
  <button onclick="agregarImagen()">Agregar Imagen</button>
  <button onclick="cambiarImagen()">Cambiar Imagen</button>
  <button onclick="cambiarTamano()">Cambiar Tamaño Imagen</button>

  <div id="contenido"></div>

  <script src="/script.js"></script>
</body>
</html>
