<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ejercicio 2</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>Ejercicio 2</h1>

  <!-- Creo el menu de navegacion con sus componentes< -->
  <nav class="menu">
    <button id="btn1">Componente 1 (click)</button>
    <button id="btn2">Componente 2 (dblclick)</button>
    <button id="btn3">Componente 3 (mouseover)</button>
    <button id="btn4">Componente 4 (mouseout)</button>
    <button id="btn5">Componente 5 (mousedown)</button>
  </nav>

  <!-- Creo el cont. de cada componente que se va a mostrar al realizar las diferentes acciones en el menu de navegacion -->
  <main>
    <section id="componente1" class="componente">Hola</section>
    <section id="componente2" class="componente">Adios</section>
    <section id="componente3" class="componente"><img src="/images/perro3.jpeg" alt=""></section>
    <section id="componente4" class="componente"><img src="/images/perro2.jpeg" alt=""></section>
    <section id="componente5" class="componente"><img src="/images/perro1.avif" alt=""></section>
  </main>

  <script src="/script.js"></script>
</body>
</html>
